/*!
<<<<<<< HEAD
 * Remark Theme v2.2.1
 * Copyright 2019 HighQ Solutions, Ltd.
 * Author: Christopher Yongchu, christopher.yongchu@highq.com
 * Last Update: 05/06/2019
=======
 * Remark Theme v2.3
 * Copyright 2019 HighQ Solutions, Ltd.
 * Author: Christopher Yongchu, christopher.yongchu@highq.com
 * Last Update: 11/10/2019
>>>>>>> v2-dev
 */

 :root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --lighter: #f5f5f5;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#loadMoreBtn {
  display: block;
  margin: 0 auto;
}

.tab-content #loadMoreBtn {
  margin-bottom: 30px;
}

.remark-layout-boxed {
  background: var(--lighter);
}

.remark-layout-boxed > .container {
  background: var(--white);
  box-shadow: -4px 2px 4px rgba(0,0,0,.15), 4px 2px 4px rgba(0,0,0,.15);
}

.remark-layout-boxed .headFixed.show .headFixedInner .templateheader {
  padding: 15px 15px 10px 0;
}

.remark-layout-boxed .open > .globalDropdown {
  left: 0 !important;
}

@media (min-width: var(--breakpoint-lg)) {
  .remark-layout-boxed > .container, 
  .remark-layout-boxed > .container .header,
  .remark-layout-boxed .headFixed.show {
    margin-left: auto;
    margin-right: auto;
    width: var(--breakpoint-lg) !important;
  }
}

@media (min-width: var(--breakpoint-xl)) {
  .remark-layout-boxed > .container,
  .remark-layout-boxed > .container .header,
  .remark-layout-boxed .headFixed.show {
    margin-left: auto;
    margin-right: auto;
    width: var(--breakpoint-xl) !important;
  }
}

.remark-pretty-panels [id^="componentRender"],
.remark-pretty-panels.remark-ribbons [id^="componentRender"],
.remark-ribbons [id^="componentRender"] {
  margin: 10px;
}

.remark-pretty-panels .MainTitle,
.remark-pretty-panels.remark-ribbons .MainTitle,
.remark-ribbons .MainTitle {
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
}

.remark-pretty-panels .MainTitle {
  background-color: transparent;
  padding: 0;
}
.remark-pretty-panels.remark-ribbons .MainTitle,
.remark-ribbons .MainTitle {
  background-color: transparent;
  border-bottom: 0;
  height: 50px;
  padding: 10px 5px;
  position: relative;
}

.remark-pretty-panels .MainTitle.Titlehide,
.remark-pretty-panels.remark-ribbons .MainTitle.Titlehide,
.remark-ribbons .MainTitle.Titlehide {
  border: 0;
}

.remark-pretty-panels .MainTitle ~ div,
.remark-pretty-panels.remark-ribbons .MainTitle ~ div,
.remark-ribbons .MainTitle ~ div {
  background-color: var(--white);
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 15px;
}

.remark-pretty-panels .Titlehide ~ [class*="slider"],
.remark-pretty-panels.remark-ribbons .Titlehide ~ [class*="slider"] {
  border: 0;
  padding-top: 30px;
}

.remark-pretty-panels.remark-ribbons .MainTitle ~ div,
.remark-ribbons .MainTitle ~ div {
  padding: 25px 15px 15px;
}

.remark-pretty-panels .remark-tabs .MainTitle ~ div {
  background-color: transparent;
  border: 0;
  padding: 0 15px;
}

.remark-pretty-panels .MainTitle + .nav,
.remark-pretty-panels.remark-ribbons .MainTitle + .nav,
.remark-ribbons .MainTitle + .nav {
  background-color: var(--white);
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  margin: 0;
  padding: 15px;
}

.remark-pretty-panels.remark-ribbons .MainTitle + .nav,
.remark-ribbons .MainTitle + .nav {
  padding: 25px 15px 15px;
}

.remark-pretty-panels .remark-tabs .MainTitle + .nav {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 15px 15px 0;
}

.remark-pretty-panels .MainTitle + .nav:last-child,
.remark-pretty-panels .MainTitle ~ div:last-child,
.remark-pretty-panels.remark-ribbons .MainTitle + .nav:last-child,
.remark-pretty-panels.remark-ribbons .MainTitle ~ div:last-child,
.remark-ribbons .MainTitle + .nav:last-child,
.remark-ribbons .MainTitle ~ div:last-child {
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-top: 15px;
}

.remark-pretty-panels .MainTitle.Titlehide + .nav,
.remark-pretty-panels .MainTitle.Titlehide + .nav:last-child,
.remark-pretty-panels .MainTitle.Titlehide ~ div:last-child,
.remark-pretty-panels.remark-ribbons .MainTitle.Titlehide + .nav:last-child,
.remark-pretty-panels.remark-ribbons .MainTitle.Titlehide ~ div:last-child,
.remark-ribbons .MainTitle.Titlehide + .nav:last-child,
.remark-ribbons .MainTitle.Titlehide ~ div:last-child,
.remark-pretty-panels.remark-ribbons .MainTitle.Titlehide + .nav,
.remark-ribbons .MainTitle.Titlehide + .nav {
  background: transparent;
  border: 0;
  padding: 15px;
}
 
.remark-pretty-panels .remark-tabs .MainTitle + .nav:last-child,
.remark-pretty-panels .remark-tabs .MainTitle ~ div:last-child {
  border-bottom-color: transparent;
}

.remark-pretty-panels .MainTitle + .nav:last-child,
.remark-pretty-panels.remark-ribbons .MainTitle + .nav:last-child,
.remark-ribbons .MainTitle + .nav:last-child {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 15px;
}

.remark-pretty-panels .MainTitle.Titlehide + div,
.remark-pretty-panels.remark-ribbons .MainTitle.Titlehide + div,
.remark-ribbons .MainTitle.Titlehide + div,
.remark-pretty-panels.remark-ribbons .MainTitle.Titlehide,
.remark-ribbons .MainTitle.Titlehide {
  background-color: transparent;
  border: 0;
}

.remark-pretty-panels .Titletxt,
.remark-pretty-panels.remark-ribbons .Titletxt,
.remark-ribbons .Titletxt {
  border-bottom-color: transparent;
  margin: 0 10px;
}

.remark-pretty-panels.remark-ribbons .Titletxt,
.remark-ribbons .Titletxt {
  position: absolute;
  left: -8px;
  background: var(--lighter);
  padding: 8px 24px;
  border: 1px solid #ddd;
}

.remark-pretty-panels.remark-ribbons .Titletxt:before,
.remark-ribbons .Titletxt:before {
  position: absolute;
  top: 0px;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 23px solid var(--lighter);
  border-right: 24px solid transparent;
}

.remark-pretty-panels.remark-ribbons .Titletxt:before,
.remark-ribbons .Titletxt:before  {
  background-color: var(--white);
  border-right-color: transparent;
}

.remark-pretty-panels.remark-ribbons .TruncateTxt,
.remark-ribbons .TruncateTxt {
  overflow: initial;
}

.remark-pretty-panels.remark-ribbons .Titletxt,
.remark-ribbons .Titletxt {
  border: 0;
  left: -15px;
}

.remark-ribbons .MainTitle .icon-rss-boxed {
  margin-top: 0;
}

.tabbable-container,
.timeline-container {
  display: block;
}

.toggle-tabbable,
.toggle-timeline,
.toggle-collapsible {
  background: transparent;
  border: 0;
}

.toggle-tabbable .fa-toggle-off,
.toggle-timeline .fa-toggle-off,
.toggle-collapsible .fa-toggle-off {
  color: #777;
}

.toggle-tabbable .fa-toggle-on,
.toggle-timeline .fa-toggle-on,
.toggle-collapsible .fa-toggle-on {
  color: var(--green);
}

.remark-timeline .sortable-list {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 20px;
  position: relative;
}

.remark-timeline .sortable-list:before {
  background-color: #e9ecef;
  content: " ";
  margin-left: -1.5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
}

.remark-timeline .sortable-list > .sortable-item {
  position: relative;
  margin-bottom: 20px;
}

.remark-timeline .sortable-list > .sortable-item:before,
.remark-timeline .sortable-list > .sortable-item:after {
  content: '';
  display: table;
}

.remark-timeline .sortable-list > .sortable-item:nth-child(odd) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.remark-timeline .sortable-list > .sortable-item:nth-child(even) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.remark-timeline .sortable-list > .sortable-item:nth-child(odd) > div,
.remark-timeline .sortable-list > .sortable-item:nth-child(even) > div {
  position: relative;
  width: 49%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.remark-pretty-panels .remark-timeline .sortable-list > .sortable-item:nth-child(odd) > div,
.remark-pretty-panels .remark-timeline .sortable-list > .sortable-item:nth-child(even) > div {
  background: var(--white);
  width: 48%;
}

.remark-timeline .sortable-list > .sortable-item:nth-child(odd) > div:before {
  border-top: 8px solid transparent;
  border-right: 0 solid #ddd;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ddd;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -8px;
}

.remark-timeline .sortable-list > .sortable-item:nth-child(odd) > div:after {
  border-top: 7px solid transparent;
  border-right: 0 solid var(--white);
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--white);
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -7px;
}

.remark-timeline .sortable-list > .sortable-item:nth-child(even) > div:before {
  border-top: 8px solid transparent;
  border-right: 8px solid #ddd;
  border-bottom: 8px solid transparent;
  border-left: 0 solid #ddd;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  left: -8px;
}

.remark-timeline .sortable-list > .sortable-item:nth-child(even) > div:after {
  border-top: 7px solid transparent;
  border-right: 7px solid var(--white);
  border-bottom: 7px solid transparent;
  border-left: 0 solid var(--white);
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  left: -7px;
}

.remark-pretty-panels .remark-timeline .sortable-list > .sortable-item:nth-child(even) > div .Titletxt,
.remark-pretty-panels .remark-timeline .sortable-list > .sortable-item:nth-child(odd) > div .Titletxt {
  padding: 0 0 0.5em;
}
.remark-pretty-panels .remark-timeline .sortable-list > .sortable-item:nth-child(odd) > div .Titletxt {
  text-align: right;
}

.remark-timeline .MainTitle {
  margin: 0 0 15px;
}

.remark-pretty-panels .remark-timeline .MainTitle {
  margin: 0;
}

#refreshTemplates .btn {
  background-color: var(--white);
}

.remark-tabs {
  margin: 1.5em 0;
}

.remark-tabs .nav-item .nav-link {
  background-color: rgba(0,0,0,.03);
  border-radius: 0;
  border-top-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #333;
  position: relative;
}

.remark-tabs .nav-item .nav-link:before {
  content: '';
  position: absolute;
  height: 2px;
  top: -1px;
  left: -1px;
  right: -1px;
  transition: background-color .15s ease-in-out;
}

.remark-tabs .nav-item.active .nav-link {
  background-color: var(--white);
}

.remark-tabs .nav-item.active .nav-link:before {
  background-color: rgba(0,0,0,.125);
}

.remark-tabs .tab-content {
  border-right: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-left: 1px solid rgba(0,0,0,.125);
}

.tab-pane {
  padding-top: 1.5em;
}

.tab-pane [class*="bg-"] {
  margin: -21px 0 0;
  padding: 15px;
}

.lazyload.ppl_vert .thumbOuter:nth-child(n+20),
.lazyload.ppl_vert .thumbOuter,
.tab-pane .MainTitle,
#loadMorebtn.hide {
  display: none;
}

.remark-pretty-panels.remark-ribbons .MainTitle,
.remark-ribbons .MainTitle {
  background-color: var(--white);
  border-bottom-color: var(--white);
}

.lazyload.ppl_vert .thumbOuter.active {
  display: block;
}

<<<<<<< HEAD
=======
.peoplePanelUser .thumbDes .email {
  visibility: hidden;
}

.peoplePanelUser .thumbDes .email:before {
  content: "\e048";
  font-family: "highq50";
  visibility: visible;
}

[class*="Publications_Module_"].remark-pretty-panels .MainTitle,
[class*="Publications_Module_"].remark-pretty-panels .remark-timeline .MainTitle ~ div:last-child,
.remark-pretty-panels .remark-timeline .MainTitle,
.remark-pretty-panels .remark-timeline .MainTitle ~ div:last-child,
.remark-pretty-panels .masonry_comp .MainTitle,
.remark-pretty-panels .masonry_comp .MainTitle ~ div:last-child {
  background: transparent;
  border: 0;
}

[class*="bg-"] .Titlehide + .compWrapper {
  transition: box-shadow .35s ease-out;
}

[class*="bg-"] .Titlehide + .compWrapper:hover {
  box-shadow: 0 10px 30px 5px rgba(0,0,0,.15);
}

[class*="bg-"] .itemList + hr {
  border-color: transparent;
  margin: 0;
}

[class*="bg-"] .owl-controls {
  background: transparent;
}

.remark-pretty-panels .masonry_comp {
  position: relative;
}

.remark-collapsible [type="button"]:hover {
  cursor: pointer;
}

.remark-collapsible .Titletxt {
  position: relative;
}

.remark-collapsible [aria-expanded="false"] .Titletxt:after,
.remark-collapsible [aria-expanded="true"] .Titletxt:after {
  font-family: 'FontAwesome';
  position: absolute;
  right: 10px;
}

.remark-collapsible [aria-expanded="true"] .Titletxt:after {
  content: "\f068";
}

.remark-collapsible [aria-expanded="false"] .Titletxt:after {
  content: "\f067";
}

@media (min-width: var(--breakpoint-xxl)) {
  .remark-pretty-panels .masonry_comp .MainTitle {
    position: absolute;
    top: 10px;
    right: 30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .remark-pretty-panels .masonry_comp .MainTitle .Titletxt {
    color: var(--dark);
    font-size: 6em;
    font-weight: 600;
    line-height: 1;
    padding: 0;
    position: relative;
  }
}
>>>>>>> v2-dev
